.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Manrope;
}
.display-1,
.mbr-iconfont.icon-title-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont,
.mbr-iconfont.icon-title-1 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-2,
.mbr-iconfont.icon-title-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 4.2rem;
  line-height: 1;
  letter-spacing: -1px;
}
.display-2 > .mbr-iconfont,
.mbr-iconfont.icon-title-2 > .mbr-iconfont {
  font-size: 5.25rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  line-height: 1.66;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1,
  .mbr-iconfont.icon-title-1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .display-1,
  .mbr-iconfont.icon-title-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2,
  .mbr-iconfont.icon-title-2 {
    font-size: 3.36rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1,
  .mbr-iconfont.icon-title-1 {
    font-size: 4.2rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.75rem + (6 - 2.75) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2,
  .mbr-iconfont.icon-title-2 {
    font-size: 3.36rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.12rem + (4.2 - 2.12) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.125rem 1.6rem;
  border-radius: 3rem;
}
.btn-sm {
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #bff747 !important;
}
.bg-success {
  background-color: #d3f59d !important;
}
.bg-info {
  background-color: #e64a19 !important;
}
.bg-warning {
  background-color: #d50000 !important;
}
.bg-danger {
  background-color: #ffd700 !important;
}
.btn-primary {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-primary,
.btn-primary:active {
  background-color: #bff747 !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #bff747 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #eafcc1 !important;
  border-color: #eafcc1 !important;
}
.btn-secondary {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fdfde1 !important;
  border-color: #000000 !important;
  color: #717108 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #fdfde1 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #717108 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-info,
.btn-info:active {
  background-color: #e64a19 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #e64a19 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #f3a58c !important;
  border-color: #f3a58c !important;
}
.btn-success {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-success,
.btn-success:active {
  background-color: #d3f59d !important;
  border-color: #000000 !important;
  color: #1b2904 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #d3f59d !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1b2904 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-warning,
.btn-warning:active {
  background-color: #d50000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #d50000 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff5656 !important;
  border-color: #ff5656 !important;
}
.btn-danger {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffd700 !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffd700 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #000000 !important;
  background-color: #ffeb80 !important;
  border-color: #ffeb80 !important;
}
.btn-white {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-white,
.btn-white:active {
  background-color: #fffff5 !important;
  border-color: #000000 !important;
  color: #8f8f00 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #fffff5 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #8f8f00 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-primary-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #bff747;
  color: #bff747;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #9ade0a !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #9ade0a !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #2a3c03 !important;
  background-color: #bff747 !important;
  border-color: #bff747 !important;
}
.btn-secondary-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #fdfde1;
  color: #fdfde1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #f8f890 !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #f8f890 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #d1d10e !important;
  background-color: #fdfde1 !important;
  border-color: #fdfde1 !important;
}
.btn-info-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e64a19;
  color: #e64a19;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #983110 !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #983110 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e64a19 !important;
  border-color: #e64a19 !important;
}
.btn-success-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #d3f59d;
  color: #d3f59d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b0ed4e !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #b0ed4e !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #57850e !important;
  background-color: #d3f59d !important;
  border-color: #d3f59d !important;
}
.btn-warning-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #d50000;
  color: #d50000;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #7e0000 !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #7e0000 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d50000 !important;
  border-color: #d50000 !important;
}
.btn-danger-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ffd700;
  color: #ffd700;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a88e00 !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #a88e00 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #000000 !important;
  background-color: #ffd700 !important;
  border-color: #ffd700 !important;
}
.btn-black-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline {
  border-color: #000000 !important;
  box-shadow: 0 4px 0 0 #fff;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fffff5;
  color: #fffff5;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #ffff9e !important;
  background-color: transparent !important;
  box-shadow: none;
  border-color: #ffff9e !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #f5f500 !important;
  background-color: #fffff5 !important;
  border-color: #fffff5 !important;
}
.text-primary {
  color: #bff747 !important;
}
.text-secondary {
  color: #fdfde1 !important;
}
.text-success {
  color: #d3f59d !important;
}
.text-info {
  color: #e64a19 !important;
}
.text-warning {
  color: #d50000 !important;
}
.text-danger {
  color: #ffd700 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #90cf09 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #f3f352 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #a9ec40 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #8a2c0f !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #6f0000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #998100 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #bff747;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e64a19;
}
.alert-warning {
  background-color: #d50000;
}
.alert-danger {
  background-color: #ffd700;
}
.btn .mbr-iconfont-btn::before {
  background-color: #000000;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #bff747;
  border-color: #bff747;
  color: #3b5504;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #bff747;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #fadbd1;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffa2a2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fff7cc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  line-height: 1.66;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #bff747 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  line-height: 1.66;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.625rem;
}
blockquote {
  border-color: #bff747;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #bff747;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #bff747;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #bff747;
  border-bottom-color: #bff747;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #bff747 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fdfde1 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23bff747' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uw6ANhNsHs {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uw6ANhNsHs .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uw6ANhNsHs .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uw6ANhNsHs .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uw6ANhNsHs .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uw6ANhNsHs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uw6ANhNsHs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uw6ANhNsHs .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
  margin-right: 0;
}
.cid-uw6ANhNsHs .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uw6ANhNsHs .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-uw6ANhNsHs .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uw6ANhNsHs .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uw6ANhNsHs .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uw6ANhNsHs .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-uw6ANhNsHs .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uw6ANhNsHs .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uw6ANhNsHs .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uw6ANhNsHs .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uw6ANhNsHs .navbar-logo {
    padding-left: 0;
  }
}
.cid-uw6ANhNsHs .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (min-width: 767px) {
  .cid-uw6ANhNsHs .navbar-caption {
    padding-left: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uw6ANhNsHs .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uw6ANhNsHs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uw6ANhNsHs .container {
  display: flex;
  height: 80px;
  padding: 0 0.6rem;
  flex-wrap: nowrap;
  background: rgba(0, 0, 0, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #000000;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uw6ANhNsHs .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uw6ANhNsHs .container {
    width: 95%;
    height: 56px !important;
    padding: 0.5rem;
    margin-top: 0rem;
  }
}
.cid-uw6ANhNsHs .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uw6ANhNsHs .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #000000;
  background: rgba(0, 0, 0, 0.8) !important;
}
.cid-uw6ANhNsHs .nav-item:focus,
.cid-uw6ANhNsHs .nav-link:focus {
  outline: none;
}
.cid-uw6ANhNsHs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uw6ANhNsHs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uw6ANhNsHs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uw6ANhNsHs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uw6ANhNsHs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uw6ANhNsHs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uw6ANhNsHs .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uw6ANhNsHs .navbar.opened {
  transition: all 0.3s;
}
.cid-uw6ANhNsHs .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uw6ANhNsHs .navbar .navbar-logo img {
  width: auto;
}
.cid-uw6ANhNsHs .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uw6ANhNsHs .navbar.collapsed {
  justify-content: center;
}
.cid-uw6ANhNsHs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uw6ANhNsHs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uw6ANhNsHs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uw6ANhNsHs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uw6ANhNsHs .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uw6ANhNsHs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uw6ANhNsHs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uw6ANhNsHs .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uw6ANhNsHs .navbar {
    min-height: 72px;
  }
  .cid-uw6ANhNsHs .navbar .navbar-logo img {
    height: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uw6ANhNsHs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uw6ANhNsHs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uw6ANhNsHs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uw6ANhNsHs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uw6ANhNsHs .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uw6ANhNsHs .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uw6ANhNsHs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uw6ANhNsHs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uw6ANhNsHs .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uw6ANhNsHs .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uw6ANhNsHs .dropdown-item.active,
.cid-uw6ANhNsHs .dropdown-item:active {
  background-color: transparent;
}
.cid-uw6ANhNsHs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uw6ANhNsHs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uw6ANhNsHs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uw6ANhNsHs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-uw6ANhNsHs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uw6ANhNsHs .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uw6ANhNsHs ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uw6ANhNsHs .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uw6ANhNsHs .navbar-buttons {
    text-align: left;
  }
}
.cid-uw6ANhNsHs button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uw6ANhNsHs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-uw6ANhNsHs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uw6ANhNsHs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uw6ANhNsHs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uw6ANhNsHs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uw6ANhNsHs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uw6ANhNsHs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uw6ANhNsHs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uw6ANhNsHs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uw6ANhNsHs .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uw6ANhNsHs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uw6ANhNsHs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uw6ANhNsHs .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uw6ANhNsHs .navbar {
    height: 70px;
  }
  .cid-uw6ANhNsHs .navbar.opened {
    height: auto;
  }
  .cid-uw6ANhNsHs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uw6ANhNsHs .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uw6ANhNsHs .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uw6ANhNsHs .navbar-brand {
    margin-right: auto;
  }
  .cid-uw6ANhNsHs .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #000000;
    opacity: 1;
    border-color: rgba(0, 0, 0, 0.8) !important;
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-uw6ANhNsHs .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uw6ANhNsHs .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uw6ANhNsHs .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uw6ANhNsHs .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uw6ANhNsHs .navbar-collapse {
    padding: 1rem;
  }
}
.cid-uw6AOH1HGp {
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.cid-uw6AOH1HGp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/black-and-white-color-gif-by-erica-anderson.gif");
}
.cid-uw6AOH1HGp .items-wrap {
  justify-content: space-between;
}
.cid-uw6AOH1HGp .items-wrap .card {
  justify-content: center;
}
.cid-uw6AOH1HGp .title-wrapper .mbr-desc {
  margin-bottom: 15px;
}
.cid-uw6AOH1HGp .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-uw6AOH1HGp .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
@media (max-width: 992px) {
  .cid-uw6AOH1HGp .title-wrapper {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .cid-uw6AOH1HGp .content-wrapper {
    margin-bottom: 32px;
    text-align: center;
  }
}
.cid-uw6AOH1HGp .icon-title {
  color: #bff747;
}
@media (max-width: 992px) {
  .cid-uw6AOH1HGp .image-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uw6AOH1HGp .image-wrapper img {
  border-radius: 2rem;
  padding: 5px;
  background-color: #fdfde1;
  height: 500px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uw6AOH1HGp .image-wrapper img {
    height: 350px;
  }
}
.cid-uw6AOH1HGp .mbr-section-title {
  color: #fdfde1;
}
.cid-uw6AOH1HGp .mbr-text {
  color: #000000;
}
.cid-uw6AOH1HGp .mbr-text,
.cid-uw6AOH1HGp .mbr-section-btn {
  color: #fdfde1;
}
.cid-uw6AOH1HGp .mbr-desc {
  color: #fdfde1;
}
.cid-uw6AOH1HGp .mbr-section-subtitle {
  color: #fdfde1;
}
.cid-uw6AOH1HGp .mbr-desc,
.cid-uw6AOH1HGp .mbr-section-btn {
  color: #fdfde1;
}
.cid-uw6AQLksO8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffff5;
}
.cid-uw6AQLksO8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uw6AQLksO8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uw6AQLksO8 .title-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uw6AQLksO8 .title .icon-wrap {
  margin-bottom: 64px;
  text-align: right;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .title .icon-wrap {
    margin-bottom: 32px;
    text-align: left;
  }
}
.cid-uw6AQLksO8 .title .icon-wrap .mbr-iconfont {
  display: inline-flex;
  width: 70px;
  height: 70px;
  color: #000000;
  font-size: 70px;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .title .icon-wrap .mbr-iconfont {
    width: 48px;
    height: 48px;
    font-size: 48px;
  }
}
.cid-uw6AQLksO8 .items-wrap {
  justify-content: center;
  margin: 0 -10px;
}
.cid-uw6AQLksO8 .items-wrap .card {
  padding: 0 10px;
  margin-bottom: 20px;
}
.cid-uw6AQLksO8 .items-wrap .card_2 {
  padding-top: 200px;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .items-wrap .card_2 {
    padding-top: 0;
  }
}
.cid-uw6AQLksO8 .items-wrap .card_3 {
  padding-top: 400px;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .items-wrap .card_3 {
    padding-top: 0;
  }
}
.cid-uw6AQLksO8 .card .item-wrapper {
  background-color: #000000;
  transition: all 0.3s ease;
}
.cid-uw6AQLksO8 .card .item-wrapper .card-box {
  padding: 3rem 1.5rem;
  min-height: 500px;
}
@media (max-width: 992px) {
  .cid-uw6AQLksO8 .card .item-wrapper .card-box {
    padding: 36px 24px;
    min-height: auto;
  }
}
.cid-uw6AQLksO8 .card .item-wrapper .card-box .item-number {
  margin-bottom: 32px;
}
.cid-uw6AQLksO8 .card .item-wrapper .card-box .item-title {
  margin-bottom: 32px;
}
.cid-uw6AQLksO8 .card .item-wrapper .card-box .item-text {
  margin-bottom: 0;
  line-height: 1.66;
}
.cid-uw6AQLksO8 .card .item-wrapper .card-box .icon-wrap {
  font-size: 3rem;
  color: #fdfde1;
}
.cid-uw6AQLksO8 .card .item-wrapper:hover {
  box-shadow: 5px 5px 0 0 #666666;
  transform: translateY(-1.15rem);
}
.cid-uw6AQLksO8 .mbr-section-title {
  color: #000000;
}
.cid-uw6AQLksO8 .item-title {
  color: #fdfde1;
}
.cid-uw6AQLksO8 .item-number {
  color: #ffffff;
}
.cid-uw6AQLksO8 .item-text {
  color: #fdfde1;
}
.cid-uw6ARJxL7y {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/gif-artist-glow-gif-by-erica-anderson.gif");
}
.cid-uw6ARJxL7y .mbr-fallback-image.disabled {
  display: none;
}
.cid-uw6ARJxL7y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uw6ARJxL7y .mbr-section-btn {
  margin-bottom: 22px;
}
.cid-uw6ARJxL7y .title-wrapper .mbr-section-title {
  margin-bottom: 32px;
}
.cid-uw6ARJxL7y .title-wrapper .mbr-desc {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uw6ARJxL7y .title-wrapper .mbr-desc {
    margin-bottom: 32px;
  }
}
.cid-uw6ARJxL7y .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uw6ARJxL7y .mbr-section-title {
  color: #000000;
}
.cid-uw6ARJxL7y .mbr-desc {
  color: #fdfde1;
}
.cid-uw6ARJxL7y .mbr-text {
  color: #000000;
}
.cid-uw6ARJxL7y .mbr-text,
.cid-uw6ARJxL7y .text-wrapper {
  color: #ffebcf;
}
.cid-uw6ARJxL7y .mbr-section-title,
.cid-uw6ARJxL7y .mbr-section-btn {
  color: #fdfde1;
}
.cid-uEYdbX2UsN {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #000000;
}
.cid-uEYdbX2UsN .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEYdbX2UsN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEYdbX2UsN .row {
  justify-content: center;
}
.cid-uEYdbX2UsN .card {
  justify-content: center;
}
.cid-uEYdbX2UsN .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .title-wrapper .mbr-section-title {
    margin-bottom: 30px;
  }
}
.cid-uEYdbX2UsN .tabs-wrapper {
  border-bottom: none;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tabs-wrapper {
    margin-bottom: 30px;
  }
}
.cid-uEYdbX2UsN .tabs-wrapper .nav.nav-tabs {
  border: none;
  padding: 0;
  border-radius: 0 !important;
  background-color: transparent;
  display: inline-block;
}
.cid-uEYdbX2UsN .tabs-wrapper .nav.nav-tabs .nav-item {
  padding: 0;
  border: none;
  display: block;
  margin-bottom: 16px;
}
.cid-uEYdbX2UsN .tabs-wrapper .nav.nav-tabs .nav-item .nav-link {
  display: flex;
  color: #cbff5b;
  padding: 11px 64px;
  border: 2px solid #cbff5b;
  transition: all 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  min-height: 88px;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tabs-wrapper .nav.nav-tabs .nav-item .nav-link {
    min-height: 54px;
    padding: 11px 32px;
  }
}
.cid-uEYdbX2UsN .tabs-wrapper .nav.nav-tabs .nav-item .nav-link.active {
  background-color: #cbff5b;
  color: #000000;
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content {
  border: none;
  background-color: transparent;
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .image-wrap {
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tab-content .tab-pane .item-content .image-wrap {
    margin-bottom: 30px;
  }
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .image-wrap::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 100%;
  background-image: radial-gradient(#cbff5b, transparent);
  filter: blur(100px);
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .image-wrap img {
  position: relative;
  z-index: 1;
  height: 450px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tab-content .tab-pane .item-content .image-wrap img {
    height: 350px;
    object-fit: contain;
  }
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .item-title {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tab-content .tab-pane .item-content .item-title {
    margin-bottom: 30px;
  }
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .text-wrapper {
  position: relative;
  z-index: 1;
}
.cid-uEYdbX2UsN .tab-content .tab-pane .item-content .text-wrapper .item-text {
  display: inline-flex;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEYdbX2UsN .tab-content .tab-pane .item-content .text-wrapper .item-text {
    width: 100%;
  }
}
.cid-uEYdbX2UsN .mbr-section-title {
  color: #ffffff;
}
.cid-uEYdbX2UsN .item-title {
  color: #cbff5b;
}
.cid-uEYdbX2UsN .item-text {
  color: #ffffff;
}
.cid-uEYdbX2UsN .item-text,
.cid-uEYdbX2UsN .text-wrapper {
  text-align: left;
}
.cid-uEYAukwIkA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffff5;
}
.cid-uEYAukwIkA .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEYAukwIkA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEYAukwIkA .icon-title-1 {
  color: #bff747;
}
.cid-uEYAukwIkA .items-wrap {
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-uEYAukwIkA .content-wrapper {
    margin-bottom: 32px;
  }
}
.cid-uEYAukwIkA .content-wrapper .mbr-section-title {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-uEYAukwIkA .content-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uEYAukwIkA .content-wrapper .mbr-text {
  margin-bottom: 22px;
}
.cid-uEYAukwIkA .image-wrapper img {
  width: 100%;
  height: 570px;
  object-fit: cover;
  border-radius: 2rem;
  padding: 5px;
  background-color: #4b4b4b;
}
@media (max-width: 992px) {
  .cid-uEYAukwIkA .image-wrapper img {
    height: 350px;
  }
}
.cid-uEYAukwIkA .item-text {
  color: #000000;
}
.cid-uEYAukwIkA .item-title {
  color: #4b4b4b;
}
.cid-uEYAukwIkA .mbr-section-title,
.cid-uEYAukwIkA .mbr-section-btn {
  color: #4b4b4b;
}
.cid-uEYEf09Y4p {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/animation-design-gif-by-megan-palero.gif");
}
.cid-uEYEf09Y4p .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEYEf09Y4p .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEYEf09Y4p .content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  padding: 80px 60px;
  overflow: hidden;
  border: 2px solid #ffb2ef;
}
@media (max-width: 1200px) {
  .cid-uEYEf09Y4p .content-wrapper {
    gap: 16px;
  }
}
@media (max-width: 1199px) {
  .cid-uEYEf09Y4p .content-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper {
    display: block;
    padding: 32px 16px;
  }
}
.cid-uEYEf09Y4p .content-wrapper .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cid-uEYEf09Y4p .content-wrapper .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item {
    margin-bottom: 16px;
  }
  .cid-uEYEf09Y4p .content-wrapper .item:last-child {
    margin-bottom: 0;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper {
  position: relative;
  height: 100%;
  border: 3px solid #050f0f;
  box-shadow: 4px 4px 0 0 #050f0f;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: #f7fff7;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper:hover,
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper:focus {
  transform: translate(0.2rem, 0.2rem);
  box-shadow: none;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .item-img {
  border-bottom: 3px solid #050f0f;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .item-img img {
  height: 390px;
  width: 100%;
  object-fit: contain;
  border-radius: 0 !important;
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .item-img img {
    height: 350px;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .item-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .8;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper {
  padding: 32px;
}
@media (max-width: 1440px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper {
    padding: 32px 24px;
  }
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper {
    padding: 32px 16px;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper .item-title {
  margin-bottom: 48px;
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper .item-title {
    margin-bottom: 24px;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper .item-text {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .item-content .text-wrapper .item-text {
    margin-bottom: 0;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper {
  padding: 0 32px 24px 32px;
}
@media (max-width: 1440px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper {
    padding: 0 24px 24px 24px;
  }
}
@media (max-width: 992px) {
  .cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper {
    padding: 0 16px 24px 16px;
  }
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper .list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper .list .item-wrap {
  display: inline-flex;
  padding: 11px 20px;
  margin: 0 8px 8px 0;
  background-color: #d3f2ff;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper .list .item-wrap:nth-child(2n) {
  background-color: #bafca2;
}
.cid-uEYEf09Y4p .content-wrapper .item .item-wrapper .tags-wrapper .list .item-wrap:nth-child(3n) {
  background-color: #fdfd96;
}
.cid-uEYEf09Y4p .item-title {
  color: #050f0f;
}
.cid-uEYEf09Y4p .item-text {
  color: #050f0f;
}
.cid-uEYEf09Y4p .list {
  color: #050f0f;
}
.cid-uEYIaREsIs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #000000;
}
.cid-uEYIaREsIs .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEYIaREsIs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uEYIaREsIs .container {
    padding: 0 23px;
  }
}
@media (max-width: 768px) {
  .cid-uEYIaREsIs .container {
    padding: 0 12px;
  }
}
.cid-uEYIaREsIs .content-wrapper {
  display: flex;
  border-radius: 32px;
  padding: 1.5rem;
}
@media (max-width: 768px) {
  .cid-uEYIaREsIs .content-wrapper {
    display: block;
    padding: 0.5rem;
  }
}
.cid-uEYIaREsIs .content-wrapper .title-wrapper {
  width: 50%;
  margin-right: 32px;
}
@media (max-width: 768px) {
  .cid-uEYIaREsIs .content-wrapper .title-wrapper {
    width: 100%;
    padding: 24px;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .cid-uEYIaREsIs .content-wrapper .title-wrapper {
    padding: 0px;
  }
}
.cid-uEYIaREsIs .content-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 1.5rem;
}
.cid-uEYIaREsIs .content-wrapper .title-wrapper .mbr-social-likns .mbr-iconfont {
  border-radius: 50px;
  border: 1px solid #fdfde1;
  color: #fdfde1;
  transition: all 300ms ease;
}
.cid-uEYIaREsIs .content-wrapper .title-wrapper .mbr-social-likns .mbr-iconfont:hover {
  color: #bff747;
  border-color: #bff747;
}
.cid-uEYIaREsIs .content-wrapper .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form {
  width: 40%;
}
@media (max-width: 992px) {
  .cid-uEYIaREsIs .content-wrapper .mbr-form {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-uEYIaREsIs .content-wrapper .mbr-form {
    width: 100%;
  }
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap {
  width: 100%;
}
@media (max-width: 768px) {
  .cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap {
    padding: 24px;
  }
}
@media (max-width: 576px) {
  .cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap {
    padding: 0px;
  }
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .mbr-section-title {
  margin-bottom: 20px !important;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .mbr-text {
  margin-bottom: 20px !important;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group {
  margin-bottom: 16px !important;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-control {
  color: #fdfde1;
  padding: 1.3rem 1.5rem;
  font-weight: 700;
  box-shadow: none;
  border-radius: 3rem !important;
  border: 1px solid #fdfde1 !important;
  background-color: #000000;
  transition: all 300ms ease;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-control:hover,
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-control:focus {
  border: 1px solid #bff747 !important;
  box-shadow: none;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-control::placeholder {
  color: #fdfde1;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group textarea.form-control {
  min-height: 150px;
  border-radius: 1.3rem !important;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-check {
  padding-left: 1.7em;
  margin-bottom: 10px;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .form-group .form-check .form-check-input {
  background-color: #fdfde1;
  border-color: #fdfde1;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .mbr-section-btn {
  margin-top: 6px;
}
.cid-uEYIaREsIs .content-wrapper .mbr-form .form-wrap .dragArea.row .mbr-section-btn .btn {
  width: 100%;
  padding: 1.25rem 1.5rem;
}
.cid-uEYIaREsIs .mbr-form .form-conrol {
  color: #fdfde1;
}
.cid-uEYIaREsIs .mbr-section-title {
  color: #ffffff;
}
.cid-uEYIaREsIs .mbr-text {
  color: #fdfde1;
}
.cid-uEYIaREsIs label {
  color: #ffffff;
}
.cid-uEYIaREsIs .mbr-section-title,
.cid-uEYIaREsIs .mbr-section-btn {
  color: #fdfde1;
}
.cid-uEYIaREsIs .card-contacts {
  color: #fdfde1;
}
